In [2]:
import pyarrow.feather as feather

df = feather.read_table('backtest_results/backtest_results-2024-12-04_14-46-29_market_change.feather').to_pandas()
df

                        date       mean  rel_mean  count
0  2024-12-01 00:00:00+00:00  20197.538  0.000000      4
1  2024-12-01 01:00:00+00:00  20154.142 -0.002149      4
2  2024-12-01 02:00:00+00:00  20079.590 -0.005848      4
3  2024-12-01 03:00:00+00:00  20201.116  0.000205      4
4  2024-12-01 04:00:00+00:00  20233.952  0.001830      4
..                       ...        ...       ...    ...
80 2024-12-04 08:00:00+00:00  20294.208  0.005799      4
81 2024-12-04 09:00:00+00:00  20329.866  0.007556      4
82 2024-12-04 10:00:00+00:00  20270.382  0.004631      4
83 2024-12-04 11:00:00+00:00  20204.778  0.001394      4
84 2024-12-04 12:00:00+00:00  20155.154 -0.001062      4

[85 rows x 4 columns]